<div class="col-md-4">
    <article class="panel panel-default">
        <div class="panel-body">
            {{ message.title }}
        
   
                <div class="row">   
                    <div class="col-md-6">
                        {{ message.username }}
                    </div>
                    <div class="col-md-6" >

                            <a [routerLink]="['/steps', message.processId]" style="margin-left:5px; font-size:18px;">
                            <i class="fa fa-search pull-right" aria-hidden="true" title="Examinar"></i></a>

                            <a *ngIf="belongsToUser()" style="margin-left:5px; font-size:18px;" class="pull-right" role="button" (click)="onEdit()">
                                <i class="fa fa-pencil-square-o pull-right" aria-hidden="true" title="Editar"></i></a>

                            <a *ngIf="belongsToUser()" style="margin-left:5px; font-size:18px;" class="pull-right" role="button" (click)="onDelete()">
                                <i class="fa fa-times pull-right" aria-hidden="true" title="Eliminar"></i></a>
                        
                    </div>
                </div>  
              </div>
              
    </article>
</div>    