        <div class="middle-box">
            
            <h2>
            <div *ngIf="isLoading" class="centering text-center text-primary" 
                        style="  min-height: 100%; 
                                 min-height: 100vh; 
                                 display: flex;
                                 align-items: center; ">

                        <div class="sk-folding-cube">
                        <div class="sk-cube1 sk-cube"></div>
                        <div class="sk-cube2 sk-cube"></div>
                        <div class="sk-cube4 sk-cube"></div>
                        <div class="sk-cube3 sk-cube"></div>
                        </div> 
                  
                    
                </div>    
            </h2>
            <div *ngIf="!isLoading">
                <h1>{{appName}}</h1>
                    <p>
                        {{header.content}}
                    </p>
                    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                        
                            <input 
                                    type="email"
                                    id="email"
                                    class="form-control"
                                    formControlName="email"
                                    placeholder="Correo">
                        </div>
                        <div class="form-group">
                            
                            <input
                                    type="password"
                                    id="password"
                                    class="form-control"
                                    formControlName="password"
                                    placeholder="Contraseña">
                        </div>
                        <button
                                class="btn btn-primary"
                                type="submit"
                                [disabled]="!myForm.valid">{{formLabels.submit}}</button> 
                    </form>

            </div>
</div>






