<div class="col-md-8 col-md-offset-2">
    <h2>Agregar Usuario</h2>
    <h2><spinner [visible]="isLoading"></spinner></h2>
    <div *ngIf="!isLoading">
                    
                    <p>
                        {{header.content}}
                    </p>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">{{formLabels.name}}</label>
            <input
                    type="text"
                    id="firstName"
                    class="form-control"
                    formControlName="firstName"
                    placeholder="{{formLabels.name}}">
        </div>
        <div class="form-group">
            <label for="lastName">{{formLabels.lastName}}</label>
            <input
                    type="text"
                    id="lastName"
                    class="form-control"
                    formControlName="lastName"
                    placeholder="{{formLabels.lastName}}">
        </div>
        <div class="form-group">
            <label for="email">{{formLabels.mail}}</label>
            <input
                    type="email"
                    id="email"
                    class="form-control"
                    formControlName="email"
                    placeholder="{{formLabels.mail}}">
        </div>
        <div class="form-group">
            <label for="password">{{formLabels.password}}</label>
            <input
                    type="password"
                    id="password"
                    class="form-control"
                    formControlName="password"
                    placeholder="{{formLabels.password}}">
        </div>
        <div class="form-group">
            <label style="margin-top:15px;"for="password">{{formLabels.admin}}</label><br>
          
            <i  class="fa"
                [ngClass]="{'fa-toggle-on text-primary': admin_flag, 'fa-toggle-off': !admin_flag }" 
                aria-hidden="true" 
                role="button" 
                style="font-size:40px;"
                (click)="admin_flag = !admin_flag"></i>
     
          
          
        </div>
        <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!myForm.valid">{{formLabels.submit}}</button>
    </form>
    </div>
</div>